.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logged-in {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profiler-results {
  display: none;
}

.nav-link {
  margin: 0 18px;
}
