<p>Hello,</p>

<p>You are receiving this email because you are a participant in the event <%= @event.title %>.</p>
<p>You have to offer a gift of a value of maximum <%= @event.max_amount %>€ to <%= @receiver.name %> !</p>
